@font-face {
    font-family: '8th-cargo';
    src: url(/mod03/desafios/d012/fonts/8th_cargo/8th\ Cargo.ttf);
}

@font-face {
    font-family: 'retro_signature';
    src: url(/mod03/desafios/d012/fonts/retro_signature/RetroSignature.otf);
}

:root {
    --fontTecho: '8th-cargo';
    --fontManuscrita: 'retro_signature';
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-image: url(/mod03/desafios/d012/img/bg-dark1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: var(--fontTecho);
    font-size: 3vw;
}

header>h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.1em;
    padding-left: 30px;
    font-family: var(--fontManuscrita);
    font-size: 7vw;
}

section.normal {
    background-color: white;
    color: black;
    text-align: center;
}

section.imagem {
    background-color: black;
    color: darkgray;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.555);
    background-attachment: fixed;
    /*efeito parallax*/
}

section.imagem>p {
    background-color: rgba(59, 56, 56, 0.829);
    padding: 30px;
    display: inline-block;
    text-shadow: 5px 1px 0px black;
}

section>p {
    padding-bottom: 2em;
}

section#bg-imagem01 {
    background-image: url(/mod03/desafios/d012/img/bg-teddy1.jpg);
    background-size: cover;
    background-position: left-bottom;
}

section#bg-imagem02 {
    background-image: url(/mod03/desafios/d012/img/bg-love-letter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*rodape*/
footer {
    background-color: rgb(20, 20, 53);
    background-image: url(/mod03/desafios/d012/img/bg-dark1.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: var(--fontTecho);
    font-size: 4em;
}